@model ToDoList.Data.TODO

@{
    ViewData["Title"] = "Create";
}

<h1>Создание заметки</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Название</label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Описание</label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Дата выполнения</label>
                <input asp-for="Term" type="datetime-local" id="datepicker" class="form-control" min="@DateTime.Now">
                <span asp-validation-for="Term" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Приоритет</label>
                <select asp-for="Priority" class="form-control" >
                    <option value="Высокий">Высокий</option>
                    <option value="Средний">Средний</option>
                    <option value="Низкий">Низкий</option>
                </select>
                <span asp-validation-for="Priority" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input form-control" asp-for="IsDone " /> Выполнено
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Создать заметку" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Вернутся к списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>
    document.querySelector('form').addEventListener('submit', function (e) {
        e.preventDefault();
        console.log("Title:", document.getElementById('Title').value);
        console.log("Description:", document.getElementById('Description').value);
        console.log("Term:", document.getElementById('datepicker').value);
        console.log("Priority:", document.getElementById('Priority').value);
        console.log("IsDone:", document.getElementById('IsDone').checked);

        // Далее можно добавить код отправки формы
        // this.submit();
    });
</script>