@model ToDoList.Data.TODO

@{
    ViewData["Title"] = "Edit";
}

<h1>Редактирование</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Название</label>
                <input asp-for="Title" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">Описание</label>
                <textarea asp-for="Description" maxlength="200" style="height: 150px;" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <label class="control-label">Дата выполнения</label>
                <input asp-for="Term" type="date" value="Term" id="datepicker" class="form-control">
            </div>
            <div class="form-group">
                <label class="control-label">Приоритет</label>
                <select asp-for="Priority" class="form-control">
                    <option value="Высокий">Высокий</option>
                    <option value="Средний">Средний</option>
                    <option value="Низкий">Низкий</option>
                </select>
            </div>
            <div class="form-group mt-2">
                Выполнено:
                <label class="control-label">
                    <input class="form-check-input form-control" asp-for="IsDone " />
                </label>
            </div>

            @if (!ViewData.ModelState.IsValid)
            {
                <div class="form-floating mb-3">
                    <span class="text-danger">Заполните все поля</span>
                </div>            
            }

            <hr />

            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-primary">Вернуться к списку</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
